.top-navbar::before {
  display: inline-block;
  flex-grow: 1;
  content: "";
  background: url("/images/logo.svg") no-repeat;
  background-size: contain;
  min-width: 140px;
  min-height: auto;
  padding: 1em;
}

.hero-heading::before {
  display: inline-block;
  content: "";
  background: url("/images/illustration-intro.png") no-repeat;
  background-size: contain;

  width: 100%;
  height: 100%;

  // $size: 80vw;
  // min-height: min(calc($size * 0.7416), 300px);
  // min-width: $size;
  // original height : 534px
  // original weidth: 720px
}

@mixin feature-card-psuedo-images($child, $url) {
  .feature-card:nth-child(#{$child})::before {
    display: inline-block;
    content: "";
    background: #{$url} no-repeat;
    background-size: contain;
    // height: 100%;
    // width: 100%;
    padding: 35px;
  }
}

@include feature-card-psuedo-images(1, url("/images/icon-access-anywhere.svg"));
@include feature-card-psuedo-images(2, url("/images/icon-security.svg"));
@include feature-card-psuedo-images(3, url("/images/icon-collaboration.svg"));
@include feature-card-psuedo-images(4, url("/images/icon-any-file.svg"));

.moto-section::before {
  grid-row: 1 / -1;
  // justify-self: center;

  display: inline-block;

  content: "";
  background: url("/images/illustration-stay-productive.png") no-repeat;
  background-size: contain;

  @media screen and (min-width: $media-query-desktop) {
    $size-moto: 50vw;
    width: $size-moto;
    height: calc($size-moto * 0.75609);
  }

  // original diamensions.
  // width: 615px;
  // height: 465px;
  // RATIO : 1.32258;
  // 0.75609
}
.moto-section__link::after {
  position: absolute;
  display: inline-block;

  content: "";
  background: url("/images/icon-arrow.svg");
  background-size: contain;

  height: 20px;
  width: 20px;
}

.testimonial-card:first-child:before {
  position: absolute;

  top: -3vw;
  left: 3.3em;

  @media screen and (min-width: $media-query-desktop){
    top: -3vw;
    left: 7.3em;
  }

  display: inline-block;
  content: "";
  background: url("/images/bg-quotes.png") no-repeat;
  background-size: contain;
  $testi-size: 5vw;
  width: $testi-size;
  height: $testi-size;
  z-index: -1;
}

@mixin testimonia-card__author-images($child, $url) {
// .testimonial-card:nth-child(#{$child}) .testimonial-card__author::before{
.testimonial-card:nth-child(#{$child})::after{
  position: relative;

  display: inline-block;
  content: '';
  background: #{$url} no-repeat;
  background-size: contain;

  height: 20px;
  width: 20px;

  border-radius: 50%;
}
}

@include testimonia-card__author-images(1, url("/images/profile-1.jpg"));
@include testimonia-card__author-images(2, url("/images/profile-2.jpg"));
@include testimonia-card__author-images(3, url("/images/profile-3.jpg"));

//Fylo logo in the footer
.end-footer::before{

  @media screen and (min-width: $media-query-desktop){
    grid-column: 1/5;
  }
  display: inline-block;
  content: '';
 
  background: url("/images/logo.svg") no-repeat;
  background-size: contain;

  width: 200px;
  height: 80px;
}

//Social media icons in the footer
.end-footer::after{
  justify-self: center;
  // @media screen and (min-width: $media-query-desktop){
    // align-self: center;
  // }

  display: inline-block;
  content: '';
  background: url("/images/icons8-facebook.svg") left no-repeat, url("/images/icons8-twitter.svg") center no-repeat, url("/images/icons8-instagram.svg") right no-repeat;
  height: 30px;
  width: 100px;
}

@mixin footer-icons() {
  display: inline-block;
  content: '';
  background-size: fill;
  height: 18px;
  width: 20px; 
  margin-bottom: -5px;
  margin-right: 10px;
}
.end-footer__address::before{
  @include footer-icons();
  background: url("/images/icon-location.svg") no-repeat;
}
.end-footer__contact-details__phone-number::before{
  @include footer-icons();
  background: url("/images/icon-phone.svg") no-repeat;
}
.end-footer__contact-details__email-id::before{
  @include footer-icons();
  background: url("/images/icon-email.svg") no-repeat;
}